@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&display=swap');

body{
    font-family: 'Nunito', sans-serif;
    background: #eff0f3;
    padding: 40px 0px;
}
*{
    box-sizing: border-box;
    margin: 0;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav div{
    display: flex;
    justify-content: space-between;
    width: 47px;
}
div.resume{
    width: 96%;
    padding: 15px;
    margin: auto;
    font-size: 0.8rem;
    color: #2a2a2a;
    background: #fffffe;
}
div.resume h1.title{
    font-size: 2rem;
    color: #0d0d0d;
    font-weight: 600;
}
div.resume p.subtitle{
    margin-bottom: 8px;
    font-weight: 400;
    color: #2a2a2a;
}
div.resume p.sub{
    margin-bottom: 8px;
}
div.head-title{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 25px 0px 10px 0px;
    color: #0d0d0d;
    font-weight: 600;
}
div.head-title div{
    width: 100%;
    height: 1.3px;
    margin-left: 10px;
    background-color: #0d0d0d;
}
div.resume ul{
   margin-bottom: 15px;
}
div.resume p, div.resume ul{
    line-height: 1.5rem;
}
div.resume ul li{
   line-height: 1.4rem;
}
div.projects{
    display: flex;
    flex-wrap: wrap;
}
div.projects a{
    background: #eff0f3;
    color: #0d0d0d;
    padding: 8px;
    border-radius: 0.25rem;
    width: 100px;
    margin: 0px 9px 9px 0px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
}
div.projects a:hover{
    background: #0d0d0d;
    color: #eff0f3;
}

@media only screen and (min-width: 720px) {
    div.resume{
        width: 85%;
        padding: 20px;
    }
}

@media only screen and (min-width: 1000px) {
    div.resume{
        width: 50%;
        padding: 25px;
    }
}